

.page-content {
  display: flex;
  height: $page-content-height;
  max-width: $site-max-width;
  margin: 0 auto;


  @include desktop {
    padding-bottom: $large-space;
    padding-left: $space;
    padding-right: $space;
    padding-top: $large-space;
  }
}

.page-content__sidebar {
  display:flex;
  transition: left .3s ease;
  width: 100vw;

  position: fixed; // this is the overlay
  top: $header-height; // covers all the screen
  left: -100vw;
  bottom: 0;

  @include desktop {
    display: flex;
    padding-right: $large-space;
    position: static;
    width: $page-content-sidebar-width;
  }
}

.is-nav-open .page-content__sidebar {
  left: 0;
}

.page-content__main {
  display: flex;
  width: 100%;

  @include desktop {
    width: $page-content-main-width;
  }
}
