

.page-content {
  display: flex;
  height: $page-content-height;
  max-width: $site-max-width;
  margin: 0 auto;


  @include desktop {
    padding-bottom: $large-space;
    padding-left: $space;
    padding-right: $space;
    padding-top: $large-space;
  }
}

.page-content__sidebar {
  //display: flex;
  display: none;
  padding-right: $large-space;
  width: $page-content-sidebar-width;

  @include desktop {
    display: flex;
  }
}


.page-content__main {
  display: flex;
  width: 100%;

  @include desktop {
    width: $page-content-main-width;
  }
}
