

.page-content {
  display: flex;
  height: $page-content-height;
  max-width: $site-max-width;
  margin: 0 auto;


  @include desktop {
    padding-bottom: $large-space;
    padding-left: $space;
    padding-right: $space;
    padding-top: $large-space;
  }
}

.page-content__sidebar {
  display:flex;
  transition: left .3s ease; // transition the move from outside left to left
  width: 100vw; // 100% of viewport width

  position: fixed; // Force fixed position => Overlay in mobile mode
  top: $header-height; // let room for the header and Icon to close nav
  left: -100vw; // hidden on the left when NOT is-nav-open
  bottom: 0; // down to bottom

  @include desktop {
    display: flex;
    padding-right: $large-space;
    position: static; // In non mobile version, gets back to static position
    width: $page-content-sidebar-width;
  }
}

.is-nav-open .page-content__sidebar {
  left: 0; // when is-nav-open, move from far-left to left-side
}

.page-content__main {
  display: flex;
  width: 100%;

  @include desktop {
    width: $page-content-main-width;
  }
}
